<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'Webuser:viewproduct' %}">View Product</a>
    <a href="{% url 'Webuser:myprofile' %}">Profile</a>
    <a href="{% url 'Webuser:editprofile' %}">Edit Profile</a>
    <a href="{% url 'Webuser:changepassword' %}">Change Password</a>
    <a href="{% url 'Webuser:mycart' %}">My Cart</a>
    <a href="{% url 'Webuser:donation' %}">Donation</a>
</body>
</html>