
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if msg %}
    <script>
        alert('{{msg}}')
        window.location="{% url 'Webteammember:changepassword' %}"
        </script>
    {% endif %}
    <form method="post">
        {% csrf_token %} 
       <table border="1">
           <tr>
               <td>Current Password</td>
               <td><input type="password" name="currentpassword"> </td>
           </tr>
           <tr>
               <td>New password</td>
               <td><input type="password" name="txtpassword1"></td>
           </tr>
           <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="txtpassword2"></td>
          </tr>
               <td colspan="2" align="center">
                   <input type="submit" name="Submit" value="Save">
                    <input type="reset"  name="Cancel"  value="Cancel">
                   </td>
               </tr>
       </table>
       </from>
</body>
</html>
<br><br><br><br>
