<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'Webteammember:family' %}">Add family</a>
    <a href="{% url 'Webteammember:viewproduct' %}">View Product</a>
    <a href="{% url 'Webteammember:myprofile' %}">Profile</a>
    <a href="{% url 'Webteammember:editprofile' %}">Edit Profile</a>
    <a href="{% url 'Webteammember:changepassword' %}">Change Password</a>
    <a href="{% url 'Webteammember:ViewPurchase' %}">ViewPurchase</a>
</body>
</html>