<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <from method="post">
     {% csrf_token %} 
     <table border="1">
     <tr>
        <td colspan="2" align="center"><img src="{{data.member_photo.url}}" width="150" height="150"></td>
     </tr>
        <tr>
            <td>Owner name</td>
            <td>{{data.member_name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{data.member_email}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{data.member_contact}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{data.member_address}}</td>
        </tr>
        </table>
    </from>
</body>
</html>