
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Purchase Details</h1>
    <br>
    <table border="1" align="center">
        <tr>
            <td>Sl.no</td>
            <td>Product</td>
            <td>Photo</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total Amount</td>
            <td>User</td>
            <td>Address & Contact</td>
            <td>Status</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.product.product_name}}</td>
            <td><img src="{{i.product.product_image.url}}" width="100" height="100"></td>
            <td>Rs.{{i.product.product_price}}</td>
            <td>{{i.cart_qty}}</td>
            <td>Rs.{{i.booking.booking_totalamount}}</td>
            <td>{{i.booking.user.userregistration_name}}</td>
            <td>{{i.booking.user.userregistration_address}},{{i.booking.user.userregistration_contact}}</td>
            <td>{% if i.booking.booking_status == 1 %} 
                <span style="color: blue;">Payed</span>
                {% else %}
                <span style="color: rgb(243, 10, 10);">Not Payed</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
           
   </table>     
</body>
</html>
<br><br><br><br>
